.register-form-input {
    height: 100%;
    width: 50%;
    background-color: #d4d3dc;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .register-form-input {
        height: 100%;
        width: 100%;
        background-color: #d4d3dc;
        border-radius: 20px;
    }
}
