.titleLandpage .descriptionLandpage{
    text-align: center;
}

.descriptionLandpage {
    font-size: 22px;
    max-width: 40%;
    min-width: 40%;
    margin: auto;
}

.scaleIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15%;
    max-width: 30%;
    background-color: #1976D2;
    border-radius: 20px
}
span{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 3%;
}