:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
